@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: Good Future;
        src: url(/fonts/good-future.woff) format("woff");
    }

    @font-face {
        font-family: Nasalization;
        src: url(/public/assets/fonts/nasalization.woff) format("woff")
    }

    h1 {
        font-family: 'Good Future';
    }

    body {
        font-family: 'Nasalization';
    }

}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid black;
  background-color: #87eeab;
  -webkit-text-fill-color: black;
  -webkit-box-shadow: 0 0 0px 1000px #87eeab inset;
  box-shadow: 0 0 0px 1000px #87eeab inset;
  transition: background-color 5000s ease-in-out 0s;
  color: black;
}
